.widget_profile,
.widget_profile ul {
	list-style: none;
}

.widget_profile ul {
	background-color: #d7d7d7; 
	margin-left: 5em;
	border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
}

.widget_profile .photo {
    border-radius: 50px;
    float: left;
    margin-left: -3em;
}

.widget_profile .widgettitle {
	color: #ff8300;
}

.profile-widget-user-data {
    height: 5em;
    margin-left: 3em;
    padding-top: 0.75em;
    
}

.profile-widget-user-name {
	text-transform: capitalize;
	font-weight: bolder;
	color: #000;
}

.profile-widget-edit-link {
    margin-top: 1em;
    text-align: right;
}

.profile-widget-edit-link a {
    background-color: orange;
    border-radius: 1em;
    color: #fff;
    padding: 0.25em 1em;
    text-decoration: none;
}